<p>
  <b><%= comment.user.email %></b> says:
  <%= comment.body %>

  <% if current_user == comment.user %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</p>
