<div class="inner">
  <h3 class="masthead-brand">AwanderlyssGirl</h3>
  <nav>
    <ul class="nav masthead-nav">
      <% if current_user %>
        <li><h5>Welcome, <%= current_user.name %>!</h5></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
