<div class="row">
  <div id="home" class="container-fluid">
    <h2 class="cover-heading text-center">all the wonders of a wanderlust soul</h2>
    <p class="lead text-center">
      if you stumbled upon this site and dont have login creditionals visit my
      website to get in contact with me!
    </p>
    <p class="text-center">
      <a href="http://alyssafelix.com" target="_blank" class="btn btn-md btn-default">CHECK IT OUT!</a>
    </p>
  </div>
</div>
