
<div class="row align-items-center">
  <h1 class="cover-heading text-center">all the wonders of a wanderlust soul.</h1>
  <p class="lead text-center">
    if you stumbled upon this site and dont have login creditionals visit my
    website to get in contact with me! <br>
    <a href="http://alyssafelix.com" class="btn btn-sm btn-default">CHECK IT OUT!</a>
  </p>
</div>
