<div class="col-sm-12" id="posts">
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5><%= post.title %></h5>
        </div>
        <div class="panel-body">
          <time><%= post.created_at.strftime('%b %d, %Y') %></time>
          <p><%= post.body.truncate(50) %></p>
          <p class="text-right"><%= link_to "READ MORE", post_path(post) %></p>
        </div>
      </div>
    <% end %>
</div>
