
// Example using 'Paper' bootswatch
// https://github.com/maxim/bootswatch-rails

//Import bootstrap-sprockets
@import 'bootstrap-sprockets';

// Import paper variables
@import 'bootswatch/paper/variables';

// Then bootstrap itself
@import 'bootstrap';

// And finally bootswatch style itself
@import 'bootswatch/paper/bootswatch';

// Import home styles
@import 'home';

// Import posts styles
@import 'posts';

// Import chat_rooms styles
@import 'chat_rooms';

// Bootstrap body padding for fixed navbar
body {
  background: image-url('bg-img.jpg') no-repeat center fixed;
  background-size: cover;
  padding-top: $navbar-height;
  overflow: hidden;
}

html,
body { height: 100vh; width: 100vw; }

.navbar-default {
  background-color: rgba(255, 255, 255, .7);
}

form {
  padding: 10px 0;
}

p { margin: 0; }

#form {
  background: white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: .8;
}
