// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts,
#post {
  height: inherit;
  overflow: scroll;
  padding: 20px 0 0 0;
}

// show post =================================================
.panel-body p {
  //http://stackoverflow.com/questions/23763482/text-not-wrapping-inside-a-div-element
  word-break: break-all;
  padding-bottom: 10px;
}

// comments ==================================================
#comment {
  p {
    padding: 0;
  }
}

#form p{
  padding-top: 10px;
}
